*{
    margin: 0;
    padding: 0;
}

.container{
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    grid-template-rows: 18% 3fr 1fr;

}

.dashboard{
    grid-row-start: 1;
    grid-row-end: -1;
    border: solid;
    display: grid;
    grid-template-rows: 10% repeat(3, 1fr);
    font-size: 1.5rem;
  
    
}

.dashboard-wrap{
    display: flex;
    gap: 5px;
    align-items: center;
}

.dashboard-image{
    width: 50px;
    height: 50px;

}

.menu-image{
    width: 30px;
    height: 30px;
}


.dashboard-title{
    border: solid;
    grid-row-start: 1;
    grid-row-end: 2;
    align-self: center;
    font-size: 2.5rem;
}


.dashboard-menu{
    grid-row-start:2;
    grid-row-end: 3;
    display: grid;
    border: solid;
    list-style: none;
    grid-template-rows: repeat(6, 1fr);
    gap: 12px;
    justify-content: center;
    
  
}

.dashboard-submenu{
    display: grid;
    list-style: none;
    border-style: solid;
    grid-template-rows: repeat(6, 1fr);
    gap: 12px;
    margin-left: 14%;
    


}



.header{
    border: solid;
    grid-column-start: 2;
    grid-column-end: -1;
}

.header-wrap{
    display: flex;
    justify-content: space-around;
    align-items: center;
    border: solid;
    margin-top: 4%;
}

.header-two-intro{
    display: flex;
    gap: 20px;
    border: solid;
}

.header-image{
    width: 60px;
    height: 60px;
}

.header-buttons{
    display: flex;
    list-style: none;
    gap: 15px;
    align-items: center;
    font-size: 1.25rem;
    font-weight: bold;
}

.header-search{
    display: flex;
    width: 50%;
    border: solid;
    gap: 10px;
}

.header-par{
    font-size: 1.5rem;
    font-weight: bold;
    border: solid;
    width: 100%;
}

.header-two{
    display: flex;
    justify-content:space-around;
    border: solid;
}

.subheader{
    display: flex;
    list-style-type: none;
    gap: 20px;
    border: solid;
    align-items: center;
    margin-left: 5%;

}

.subheader-button{
    padding: 10px;
    border-radius: 20px;
    width: 100px;
    font-size: medium;
    font-weight: bold;
 
}

.profile-image{
    width: 40px;
    height: 40px;
}

.search-box{
    width: 100%;
    padding:5px;
    border-radius: 15px;
}



.projects{
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 3;
    border: solid;
}

.trending{
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 3;
    grid-row-end: 3;
    border: solid;
}

.announcements{
    border: solid;
}



