*{
    margin: 0;
    padding: 0;
}

.container{
    display: grid;
    grid-template-columns: 1fr 3fr 1fr;
    grid-template-rows: 1fr 3fr 1fr;

}

.dashboard{
    grid-row-start: 1;
    grid-row-end: -1;
    border: solid;
    display: grid;
    grid-template-rows: 10% repeat(3, 1fr);
    font-size: 1.5rem;
  
    
}

.dashboard-wrap{
    display: flex;
    gap: 5px;
    align-items: center;
}

.dashboard-image{
    width: 50px;
    height: 50px;

}

.menu-image{
    width: 30px;
    height: 30px;
}


.dashboard-title{
    border: solid;
    grid-row-start: 1;
    grid-row-end: 2;
    align-self: center;
    font-size: 2.5rem;
}


.dashboard-menu{
    grid-row-start:2;
    grid-row-end: 3;
    display: grid;
    border: solid;
    list-style: none;
    grid-template-rows: repeat(6, 1fr);
    gap: 12px;
    justify-content: center;
    
  
}

.dashboard-submenu{
    display: grid;
    list-style: none;
    border-style: solid;
    grid-template-rows: repeat(6, 1fr);
    gap: 12px;
    margin-left: 14%;
    


}



.header{
    border: solid;
    grid-column-start: 2;
    grid-column-end: -1;
}



.projects{
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: -1;
    border: solid;
}

.trending{
    grid-column-start: 3;
    grid-column-end: -1;
    grid-row-start: 3;
    grid-row-end: 4;
    border: solid;
}

.announcements{
    border: solid;
}

